#!/bin/sh
#
# PROVIDE: kqexec
# REQUIRE: DAEMON
# KEYWORD: shutdown

. /etc/rc.subr

name=kqexec
rcvar=kqexec_enable

load_rc_config $name

: ${kqexec_enable:="NO"}
: ${kqexec_config:="/usr/local/etc/kqexec.conf"}

command="/usr/local/bin/kqexec"
command_args="-d -c ${kqexec_config}"
extra_commands="reload"

run_rc_command "$1"
