<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kqexec.daemon</string>
    <key>Program</key>
    <string>@KQEXEC_BIN@</string>
    <key>ProgramArguments</key>
    <array>
        <string>-d</string>
        <string>-c</string>
        <string>@KQEXEC_CONF@</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>@KQEXEC_LOG@</string>
    <key>StandardOutPath</key>
    <string>@KQEXEC_LOG@</string>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>