#!/bin/sh
#
# PROVIDE: kqexec
# REQUIRE: DAEMON
# KEYWORD: shutdown

export PATH="/usr/local/bin:/usr/bin:/bin:/sbin:/usr/sbin"

. /etc/rc.subr

name=kqexec
rcvar=kqexec_enable

load_rc_config $name

: ${kqexec_enable:="NO"}
: ${kqexec_config:="/usr/local/etc/kqexec.conf"}
: ${kqexec_env:=""}

command="/usr/local/bin/kqexec"
command_args="-d -c ${kqexec_config}"
command_env="${kqexec_env}"
extra_commands="reload"

run_rc_command "$1"
